.nav-container {
  height: 70px;
  background-color: #9796f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px 12px 0px 12px;
}
@media screen and (min-width: 768px) {
  .nav-container {
    padding-left: 110px;
    padding-right: 110px;
  }
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-name {
  font-size: 20px;
  font-weight: 600;
  font-family: 'roboto';
  color: #fff;
}
@media screen and (min-width: 768px) {
  .logo-name {
    font-size: 28px;
  }
}
.logo {
  width: 40px;
  height: 48px;
}
.score-container {
  display: flex;
}
.score {
  font-size: 16px;
  font-weight: 500;
  font-family: 'roboto';
  color: #fff;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .score {
    font-size: 24px;
    margin-left: 20px;
  }
}
